receivers:
  otlp:
    protocols:
      grpc:
      http:

extensions:
  health_check:
    endpoint: 0.0.0.0:13133

exporters:
  logging:
    verbosity: basic

processors:
  batch:
    timeout: 1s

service:
  extensions:
    - health_check
  pipelines:
    metrics:
      receivers:
        - otlp
      processors:
        - batch
      exporters:
        - logging
    traces:
      receivers:
        - otlp
      processors:
        - batch
      exporters:
        - logging
    logs:
      receivers:
        - otlp
      processors:
        - batch
      exporters:
        - logging
