receivers:
  otlp:
    protocols:
      grpc:
      http:

exporters:
  logging:
    verbosity: basic

processors:
  batch:
    timeout: 1s

service:
  pipelines:
    metrics:
      receivers:
        - otlp
      processors:
        - batch
      exporters:
        - logging
    traces:
      receivers:
        - otlp
      processors:
        - batch
      exporters:
        - logging
    logs:
      receivers:
        - otlp
      processors:
        - batch
      exporters:
        - logging
