[submodule "domain-atlas/upstreams/stripe"]
	path = domain-atlas/upstreams/stripe
	url = https://github.com/stripe/openapi
[submodule "domain-atlas/upstreams/killbill"]
	path = domain-atlas/upstreams/killbill
	url = https://github.com/killbill/killbill
[submodule "domain-atlas/upstreams/keycloak"]
	path = domain-atlas/upstreams/keycloak
	url = https://github.com/keycloak/keycloak
[submodule "domain-atlas/upstreams/erpnext"]
	path = domain-atlas/upstreams/erpnext
	url = https://github.com/frappe/erpnext
[submodule "domain-atlas/upstreams/mautic"]
	path = domain-atlas/upstreams/mautic
	url = https://github.com/mautic/mautic
[submodule "domain-atlas/upstreams/vault"]
	path = domain-atlas/upstreams/vault
	url = https://github.com/hashicorp/vault
[submodule "domain-atlas/upstreams/zammad"]
	path = domain-atlas/upstreams/zammad
	url = https://github.com/zammad/zammad
[submodule "domain-atlas/upstreams/odoo"]
	path = domain-atlas/upstreams/odoo
	url = https://github.com/odoo/odoo
[submodule "domain-atlas/upstreams/paperless-ngx"]
	path = domain-atlas/upstreams/paperless-ngx
	url = https://github.com/paperless-ngx/paperless-ngx
[submodule "domain-atlas/upstreams/openfga"]
	path = domain-atlas/upstreams/openfga
	url = https://github.com/openfga/api
