apiVersion: v1
kind: ConfigMap
metadata:
  name: portarium-otel-config
  namespace: portarium
data:
  config.yaml: |
    receivers:
      otlp:
        protocols:
          grpc:
          http:

    processors:
      batch:
        timeout: 1s

    exporters:
      logging:
        verbosity: basic

    service:
      pipelines:
        traces:
          receivers:
            - otlp
          processors:
            - batch
          exporters:
            - logging
        metrics:
          receivers:
            - otlp
          processors:
            - batch
          exporters:
            - logging
        logs:
          receivers:
            - otlp
          processors:
            - batch
          exporters:
            - logging
